@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap');

.App {
  text-align: center;
  justify-content: center;
}

.Header{
  margin:2rem;
  position: relative;
}
.share{
  position: absolute;
  cursor: pointer;
  right: 20%;
}
.share2{
  display: none;
  position: absolute;
  cursor: pointer;
  right: 20%;
}
#id{
  display:none;
}
.userName{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #101828;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.link-container{
  display: flex;
  align-content: center;
  justify-content: center;
  background: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  padding: 1rem;
  width: 80%;
}
.links{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #101828;
  text-decoration: none;
}
.icons{
  margin: 1rem;
}
.icons a{
  margin: 1rem;
}
.footer-icons{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2rem 1rem;
}

.footer-icons img{
  margin: 1rem;
}
@media screen and (max-width:550px){
  .share{
    position: absolute;
    cursor: pointer;
    right: 20%;
    display: none;
  }
  .share2{
    display: block;
    position: absolute;
    cursor: pointer;
    right: 10%;
  }
}
